<div class="container-size">

</div>
<div class="container">
  <div class="page-header">
    <div class="header-button">
      LOGO
    </div>
    <div class="header-button">
      WYNAJEM X
    </div>
    <div class="header-button">
      SAMOCHODY
    </div>
    <div class="header-button">
      WYNAJEM
    </div>
    <div class="header-button">
      STRONA GŁÓWNA
    </div>
  </div>
</div>
<div class="container-size">

</div>

<div class="page-content">
<table>
  <thead>
    <div class="page-button">
      DODAJ SAMOCHÓD
    </div>
    <tr>
      <th>
        ID
      </th>
      <th>
        NAZWA
      </th>
      <th>
        PRODUCENT
      </th>
      <th>
        DATA PRODUKCJI
      </th>
      <th>
        TYP NADWOZIA
      </th>
      <th>
        TYP SKRZYNI
      </th>
      <th>
        ILOŚĆ MIEJSC
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        1
      </td>
      <td>
        FOCUS
      </td>
      <td>
        FORD
      </td>
      <td>
        12-08-2012
      </td>
      <td>
        HATCHBACK
      </td>
      <td>
        MANUAL
      </td>
      <td>
        5
      </td>
      <td>
        usuń
      </td>
    </tr>
    <tr>
      <td>
        2
      </td>
      <td>
        MOKKA
      </td>
      <td>
        OPEL
      </td>
      <td>
        25-04-2015
      </td>
      <td>
        SUV
      </td>
      <td>
        AUTOMAT
      </td>
      <td>
        5
      </td>
      <td>
        usuń
      </td>
    </tr>
    <tr>
      <td>
        3
      </td>
      <td>
        RX-8
      </td>
      <td>
        MAZDA
      </td>
      <td>
        05-05-2006
      </td>
      <td>
        SEDAN
      </td>
      <td>
        MANUAL
      </td>
      <td>
        4
      </td>
      <td>
        usuń
      </td>
    </tr>
    <tr>
      <td>
        4
      </td>
      <td>
        TUNDRA
      </td>
      <td>
        TOYOTA
      </td>
      <td>
        06-07-2014
      </td>
      <td>
        SUV
      </td>
      <td>
        AUTOMAT
      </td>
      <td>
        5
      </td>
      <td>
        usuń
      </td>
    </tr>
    <tr>
      <td>
        5
      </td>
      <td>
        A5
      </td>
      <td>
        AUDI
      </td>
      <td>
        12-02-2020
      </td>
      <td>
        HATCHBACK
      </td>
      <td>
        AUTOMAT
      </td>
      <td>
        5
      </td>
      <td>
        usuń
      </td>
    </tr>
    <tr>
      <td>
        6
      </td>
      <td>
        FOCUS
      </td>
      <td>
        FORD
      </td>
      <td>
        12-08-2012
      </td>
      <td>
        HATCHBACK
      </td>
      <td>
        MANUAL
      </td>
      <td>
        5
      </td>
      <td>
        usuń
      </td>
    </tr>
  </tbody>
</table>
</div>
